.user-list__item {

	border-left: 4px solid transparent;
	border-bottom: 1px solid #808080;
	width: 100%;
	height: 112px;
	padding: 0 24px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	//transition: translate 0.5s;

	&:hover {
	    background: #303030;

	    /*
    	&:after {
    		content: '';
    		background: $color_secondary;
    		display: block;
    		width: 12px;
    		height: 12px;
    		position: absolute;
    		left: 0;
    		top: 50%;
    		transform: translate(-50%, -50%) rotate(45deg);
    	}
    	*/

		.name {
			//color: $color_primary_active;
		}
	}

	&.selected {
		background: $bg_nav_active;
		border-left: 4px solid $color_secondary;

		/*
		&:after {
			content: '';
			background: $color_secondary;
			display: block;
			width: 12px;
			height: 12px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		*/
	}

	&:last-child {
		border-bottom: none;
	}
}

.user-info {

	.name {
		font: 24px Helvetica;
		color: $color_primary;
		letter-spacing: 1px;
		height: 64px;
		line-height: 64px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.phone {
		font-size: 18px;
		color: $color_secondary;
		height: 32px;
		line-height: 32px;
		letter-spacing: 1px;
	}
}