$bg_body: #505050;
$bg_main: #404040;
$bg_header: #808080;
$bg_nav: #606060;
$bg_nav_active: #303030;
$color_primary: #ccc;
$color_primary_active: #fff;
$color_secondary: #9ce;
$color_disabled: #a0a0a0;
$color_route: #fc6;
$page_max_width: 930px;
$page_min_width: 400px;